{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/confirm.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Confirmation Location{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <header class="text-center pb-5">
                    <h1 class="h2">Salut mr {{proprietaire.nom}} {{proprietaire.prenom}}</h1>
                    <p>vous avez une nouvelle demande de location </p>
                </header>
            </div>
        </div><!-- END -->


        <div class="row">
            <div class="col-lg-6 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"Merci de confirmer ou non la demande de location"</p> <br>
                    <h5>Voici les informations</h5>
                    <hr>
                    <div class="lib-row lib-header">
                        {{car.model}} {{car.marque}}
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                    Type:{{car.category}} <br>
                        Date debut:{{location.datedebut|date('d/m/Y')}}     <br> 
                         Date fin:{{location.datefin|date('d/m/Y')}}
                        <br>
                        pour une durée de {{diff}} jours  votre solde sera <br>
                        PRIX:{{car.price * diff}}
                    
                    </div>

                     <div class="lib-row lib-header">
                        Demandeur est <a href='{{ path('home_profil', {id: location.user.id})}}' target='_blank'>{{location.user.nom}} {{location.user.prenom}}</a>
                        <div class="lib-header-seperator"></div>
                    </div>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                    <div class="row justify-content-around">
                    <div class="col-12">
                     {{ form_start(form) }}
                    {{ form_row(form)}}
                    <button class="btn btn-success">Enregistrer</button>
                    {{form_end(form)}}
                </div>               
                    
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div>
</section>



{% endblock %}