{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block title %}Location{% endblock %}

{% block body %}
<div class="container">
{{ form_start(form) }}
    {{ form_widget(form) }}
    
    <button class="btn btn-danger">{{ button_label|default('sinscrire') }}</button>
{{ form_end(form) }}
</div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
  <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}