{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/confirm.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Location{% endblock %}

{% block body %}
<section class="py-5">
    <div class="container">
        <!-- FOR DEMO PURPOSE -->
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <header class="text-center pb-5">
                    <h1 class="h2">Salut mr {{proprietaire.nom}} {{proprietaire.prenom}}</h1>
                    <p>vous avez une nouvelle demande de location </p>
                </header>
            </div>
        </div><!-- END -->


        <div class="row">
            <div class="col-lg-6 mx-auto">

                <!-- CUSTOM BLOCKQUOTE -->
                <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded">
                    <div class="blockquote-custom-icon bg-info shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                    <p class="mb-0 mt-2 font-italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo <a href="#" class="text-info">@consequat</a>."</p>
                    <footer class="blockquote-footer pt-4 mt-4 border-top">
                    <div class="row justify-content-around">
                    <div class="col-4">
                    <a class="btn btn-large btn-primary" data-toggle="confirmation" data-title="Open Google?"
                href="#" target="_blank">Confirmation</a>
                    </div>
                    <div class="col-4">
                    <a class="btn btn-large btn-primary" data-toggle="confirmation" data-title="Open Google?"
                href="#" target="_blank">Annulation</a>
                    </div>
                </div>

                {{ form_start(form) }}
                <button class="btn btn-success">Enregistrer</button>
                {{form_end(form)}}
                    
                    </footer>
                </blockquote><!-- END -->

            </div>
        </div>
    </div>
</section>



{% endblock %}