{{ form_start(form) }}

<div class="row">
        <div class="col">
            {{ form_row(form.matricule) }}
        </div>
        <div class="col">
            {{ form_row(form.marque) }}
        </div>
        <div class="col">
            {{ form_row(form.model) }}
        </div>
 </div>
 <hr>
<div class="row">
        <div class="col">
            {{ form_row(form.category) }}
        </div>
 </div>

<div class="row">
        <div class="col">
            {{ form_row(form.carburant) }}
        </div>
        <div class="col">
            {{ form_row(form.year) }}
        </div>
 </div>
<div class="row">
        <div class="col">
            {{ form_row(form.boitAVitesse) }}
        </div>
 </div>
 <hr>

<div class="row">
        <div class="col">
            {{ form_row(form.price) }}
        </div>
        <div class="col">
            {{ form_row(form.caution) }}
        </div>
 </div>
    <button class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}
