{% extends 'base.html.twig' %}

{% block title %}Car{% endblock %}

{% block body %}
    <h1>{{car.marque}} {{car.model}}</h1>
 <div class="img"><img src="..." alt="..." class="img-thumbnail"></div>
     <h1>{{car.price}}DA</h1>

    <table class="table">
        <tbody>
           
            <tr>
                <th>Category</th>
                <td>{{ car.category }}</td>
            </tr>
            <tr>
                <th>Carburant</th>
                <td>{{ car.carburant }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ car.year }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ car.price }}</td>
            </tr>
            <tr>
                <th>Caution</th>
                <td>{{ car.caution }}</td>
            </tr>
            <tr>
                <th>Boit a vitesse manuelle</th>
                <td>{{ car.boitAVitesse ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

   
    <button type="button" class="btn btn-primary">Louer</button>
    


{% endblock %}
