    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %} {% endblock %}</title>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css')}}" integrity="" crossorigin="anonymous">
            {% block stylesheets %}
                   
            {% endblock %}
            {% block style %}
            
    
          {% endblock %}
            
        </head>
        <body>
                <header>
          {% block sidebar %}
            

          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Rent&Go</a>
            
            {%  if is_granted('ROLE_USER') %}
            <a href="{{ path('home_profil', {'id':user.id}) }}" class="nav-link">Bonjour {{user.nom}} {{user.prenom}}(Mon profil)</a>
            <a href="{{ path('home_logout')}}" class="nav-link">Deconnexion</a>
            <div class="btn-group-vertical pull-right"><a href="{{ path('car_new') }}"class=pull-right>Ajouter une voiture</a></div>
            {% else %}
            <div class="btn-group-vertical pull-right"><a href="{{ path('user_new') }}"class=pull-right>Ajouter une voiture</a></div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              
               <li class="nav-item"><a href="{{ path('user_new')}}" class="nav-link">Créer compte</a></li>
                                 
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Se connecter
                </a>
                <div class="dropdown-menu">
                    <form class="px-4 py-3" method="POST" action="{{path('home')}}">
                      <div class="form-group">
                        <label for="exampleDropdownFormEmail1">Email address</label>
                        <input type="email" class="form-control" name="_username" placeholder="email@example.com">
                      </div>
                      <div class="form-group">
                        <label for="exampleDropdownFormPassword1">Mot de passe</label>
                        <input type="password" class="form-control" name="_password"  placeholder="Password">
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="dropdownCheck">
                        <label class="form-check-label" for="dropdownCheck">
                          Se rappeler de moi 
                        </label>
                      </div>
                      <button type="submit" class="btn btn-primary">Se connecter</button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('user_new')}}">Nouveux utilistaeur? S'inscrire</a>
                    <a class="dropdown-item" href="#">Mot de passe oublié?</a>
                  </div>
              </li>
            </ul>
          </div>
        </nav>
        {% endif %}
              
                     
              {% endblock %}
  </header>              
                
                
                {% block body %}{% endblock %}

                {% block javascripts %}       
                
                
             
                <script src="{{ asset('js/jquery.slim.min.js')}}" integrity="" crossorigin="anonymous"></script>
                <script src="{{ asset('js/popper.min.js')}}" integrity="" crossorigin="anonymous"></script>
                <script src="{{ asset('bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>
   
                {% endblock %}
        </body>
    </html>