{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<link href="{{ asset('css/profil.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container mt-sm-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="card-title mb-4">
            <div class="d-flex justify-content-start">
              <div class="image-container">
                <img src="http://placehold.it/150x150" id="imgProfile" style="width: 150px; height: 150px" class="img-thumbnail" />
                <div class="middle">
                  <input type="button" class="btn btn-secondary" id="btnChangePicture" value="Change" />
                  <input type="file" style="display: none;" id="profilePicture" name="file" />
                </div>
              </div>
              <div class="userData ml-3">
                <h1 class="d-block" style="font-size: 1.5rem; font-weight: bold">
                  <a href="javascript:void(0);">{{user.nom }} {{user.prenom }}
                  </a>
                  </h2>
              </div>
              <div class="ml-auto">
                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Mes informations personnel
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Mes voitures
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="mesLocation-tab" data-toggle="tab" href="#mesLocation" role="tab" aria-controls="connectedServices" aria-selected="false">Mes location
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="mesdemandesLocation-tab" data-toggle="tab" href="#mesDemandesLocation" role="tab" aria-controls="connectedServices" aria-selected="false">Mes  demande de location
                  </a>
                </li>
              </ul>
              <div class="tab-content ml-1" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Nom
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.nom}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Prenom
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.prenom}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Date de naissance
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.datedenaissance|date('Y-m-d')}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Adresse
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.adresse}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Ville
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.ville}}
                    </div>
                  </div>
                  <hr />
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Numero de permis
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.numpermis}}
                    </div>
                  </div>
                  <hr />  
                  <div class="row">
                    <div class="col-sm-3 col-md-2 col-5">
                      <label style="font-weight:bold;">Numero de Tel
                      </label>
                    </div>
                    <div class="col-md-8 col-6">
                      {{user.numtel}}
                    </div>
                  </div>
                  <hr />    
                  <button type="button" class="btn btn-primary" id="modifier">Modifier mes info
                  </button>               
                </div>
                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                  {% for car in user.cars %}
                  <div class="container">
                    <section class="col-xs-12 col-sm-6 col-md-12">
                      <article class="search-result row">
                        <div class="col-xs-12 col-sm-12 col-md-3">
                          <a href="#" title="Lorem ipsum" class="thumbnail">
                            <img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum" />
                          </a>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
                          <h3>
                            <a href="{{ path('car_detail', {'id':car.id}) }}" title="">    {{car.marque}}  {{car.model}} 
                            </a>
                          </h3>
                          <p>     {{car.marque}}  {{car.model}} de categorie {{car.category}}, carburant: {{car.carburant}}
                            <br>     Prix: {{car.price}}   Caution: {{car.caution}}
                          </p>						
                          <span class="plus">
                            <a href="#" title="Lorem ipsum">
                              <i class="glyphicon glyphicon-plus">
                              </i>
                            </a>
                          </span>
                        </div>
                        <span class="clearfix borda">
                        </span>
                      </article>
                    </section>
                  </div>
                  <br>
                  <br>
                  {% endfor %}
                </div>
                <div class="tab-pane fade" id="mesLocation" role="tabpanel" aria-labelledby="mesLocation-tab">
                  <section id="tabs" class="project-tab">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">location en attente
                              </a>
                              <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">location en cour
                              </a>
                              <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">historique location
                              </a>
                            </div>
                          </nav>
                          <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <table class="table" cellspacing="0">
                                <thead>
                                  <tr>
                                    <th>Numero de location
                                    </th>
                                    <th>Date début
                                    </th>
                                    <th>Date fin
                                    </th>
                                    <th>Nom loueur
                                    </th>
                                    <th>Voiture
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for location in  locationsValid %}
                                  <tr>
                                    <td>{{ location.id }}
                                    </td>
                                    <td>
                                      <p> louer la voiture le 
                                      </p>{{ location.datedebut | date('d/M/Y') }}
                                    </td>
                                    <td>{{ location.datefin | date('d/M/Y') }}
                                    </td>
                                    <td>{{ location.User.nom }} {{ location.User.prenom }}
                                    </td>
                                    <td>
                                      <a href="{{ path('car_detail', {id: location.Car.id})}}"> {{ location.Car.marque }}  {{ location.Car.model }} 
                                      </a>
                                    </td>      
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                              <table class="table" cellspacing="0">
                                <thead>
                                  <tr>
                                    <th>Numero de location
                                    </th>
                                    <th>Date début
                                    </th>
                                    <th>Date fin
                                    </th>
                                    <th>Nom loueur
                                    </th>
                                    <th>Voiture
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for location in locationsInProgress %}
                                  <tr>
                                    <td>{{ location.id }}
                                    </td>
                                    <td>{{ location.datedebut | date('d/M/Y')}}
                                    </td>
                                    <td>
                                      <p> Recuperer la voiture le 
                                      </p>{{ location.datefin | date('d/M/Y') }}
                                    </td>
                                    <td>{{ location.User.nom }}  {{ location.User.prenom }}
                                    </td>
                                    <td>
                                      <a href="{{ path('car_detail', {id: location.Car.id})}}"> {{ location.Car.marque }}  {{ location.Car.model }} 
                                      </a>
                                    </td>      
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                              <table class="table" cellspacing="0">
                                <thead>
                                  <tr>
                                    <th>Numero de location
                                    </th>
                                    <th>Date début
                                    </th>
                                    <th>Date fin
                                    </th>
                                    <th>Nom loueur
                                    </th>
                                    <th>Email loueur
                                    </th>
                                    <th>voiture
                                    </th>
                                    <th>Etat De Location
                                    </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for location in locationsHistory %}
                                  <tr>
                                    <td>{{ location.id }}
                                    </td>
                                    <td>{{ location.datedebut | date('d/M/Y') }}
                                    </td>
                                    <td>{{ location.datefin | date('d/M/Y')}}
                                    </td>
                                    <td>{{ location.User.nom }}  {{ location.User.prenom }}
                                    </td>
                                    <td>{{ location.User.email }}
                                    </td>
                                    <td>
                                      <a href="{{ path('car_detail', {id: location.Car.id})}}"> {{ location.Car.marque }}
                                      </a>
                                    </td>      
                                    <td> 
                                      {% if location.validateProp == 0 %}
                                      <p>annuler
                                      </p>
                                      {% elseif location.validateProp == 1 %} 
                                      <p>accepter
                                      </p>
                                      {% else %} 
                                      <p>en attente de reponse (verifier votre email)
                                      </p>
                                      {% endif %} 
                                    </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
                <div class="tab-pane fade " id="mesDemandesLocation" role="tabpanel" aria-labelledby="basicInfo-tab">
                  <section id="tabs" class="project-tab">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="tab-content" id="nav-tabContent">
                            <table class="table" cellspacing="0">
                              <thead>
                                <tr>
                                  <th>Numero de location
                                  </th>
                                  <th>Date début
                                  </th>
                                  <th>Date fin
                                  </th>
                                  <th>Nom proprietaire
                                  </th>
                                  <th>Email Proprietaire
                                  </th>
                                  <th>voiture
                                  </th>
                                  <th>Etat De Location
                                  </th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for location in locations %}
                                <tr>
                                  <td>{{ location.id }}
                                  </td>
                                  <td>{{ location.datedebut | date('d/M/Y') }}
                                  </td>
                                  <td>{{ location.datefin | date('d/M/Y')}}
                                  </td>
                                  <td>{{ location.Car.user.nom }}  {{ location.Car.user.prenom }}
                                  </td>
                                  <td>{{ location.Car.user.email }}
                                  </td>
                                  <td>
                                    <a href="{{ path('car_detail', {id: location.Car.id})}}"> {{ location.Car.marque }}
                                    </a>
                                  </td>      
                                  <td> 
                                    {% if location.validateProp is null  %}
                                    <p>  Location en attente de reponse
                                    </p>
                                    {% elseif location.validateProp == 1 %} 
                                    <p> accepter
                                    </p>
                                    {% else %} 
                                    <p> annuler
                                    </p>
                                    {% endif %} 
                                  </td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </section>
              </div>                                   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% block javascripts %}
  {{ parent() }}
  <script>
    $(document).ready(function () {
      $imgSrc = $('#imgProfile').attr('src');
      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#imgProfile').attr('src', e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }
      $('#btnChangePicture').on('click', function () {
        // document.getElementById('profilePicture').click();
        if (!$('#btnChangePicture').hasClass('changing')) {
          $('#profilePicture').click();
        }
        else {
          // change
        }
      }
                               );
      $('#profilePicture').on('change', function () {
        readURL(this);
        $('#btnChangePicture').addClass('changing');
        $('#btnChangePicture').attr('value', 'Confirm');
        $('#btnDiscard').removeClass('d-none');
        // $('#imgProfile').attr('src', '');
      }
                             );
      $('#btnDiscard').on('click', function () {
        // if ($('#btnDiscard').hasClass('d-none')) {
        $('#btnChangePicture').removeClass('changing');
        $('#btnChangePicture').attr('value', 'Change');
        $('#btnDiscard').addClass('d-none');
        $('#imgProfile').attr('src', $imgSrc);
        $('#profilePicture').val('');
        // }
      }
                         );
    }
                     );
  </script>
  {% endblock %}